html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: url('./images/bg.png');
  background-position: center center;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-flow: column;  
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  justify-content: space-around;
}

.action {
  display: flex;
  justify-content: right;
}

.clear_button {
  background: none !important;
  border: none !important;
  outline: none !important;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  text-align: center;
}